html { font-family: sans-serif; background: #eee; padding: 1rem; }
/* body { max-width: 1060px; margin: 0 auto; background: white; } */
/* h1 { font-family: serif; color: #377ba8; margin: 1rem 0; } */
a { color: #377ba8; }
hr { border: none; border-top: 1px solid lightgray; }

/* .content { padding: 0 1rem 1rem; } */
/* .content > header { border-bottom: 1px solid lightgray; display: flex; align-items: flex-end; } */
/* .content > header h1 { flex: auto; font-family: serif; margin: 1rem 0 0.25rem 0; } */
.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; border-radius: 16px; }
.post > header { display: flex; align-items: flex-end; font-size: 0.85em; }
.post > header > div:first-of-type { flex: auto; }
.post > header h1 { font-size: 1.5em; margin-bottom: 0; }
.post .about { color: slategray; font-style: italic; }
.post .body { white-space: pre-line; }
.content:last-child { margin-bottom: 0; }
.content form { margin: 1em 0; display: flex; flex-direction: column; }
.content label { font-weight: bold; margin-bottom: 0.5em; }
.content input, .content textarea { margin-bottom: 1em; border-radius: 16px; }
.content textarea { min-height: 12em; resize: vertical; }
input.danger { color: #cc2f2e; }
input[type=submit] { align-self: start; min-width: 10em; color: #079C00; border-radius: 16px; }

.titleimg {
  max-width: 500px; max-height: 500px;
}

.formlinks {
    display: inline-block; margin-right: 15px;
}
.navbar .navlink {
    background-color: #1387B9;
    color: black;
    padding: 24px;
    font-family: serif;
    font-size: 24px;
    border-radius: 24px;
    border: none;
}

.navbar a{
    color: black;
    font-family: serif;
}

.month_nav .navlink {
    background-color: #1387B9;
    color: black;
    padding: 12px;
    font-family: serif;
    font-size: 12px;
    border-radius: 12px;
    border: none;
}

.month_nav a{
    color: black;
    font-family: serif;
}

.deletebtn {
    background-color: #1387B9;
    color: black;
    padding: 24px;
    font-size: 24px;
    border-radius: 24px;
    border: none;
}

.deletebtn a{
    color: black;
}
/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    display:inline;
    padding: 16px;
    font-size: 16px;
    border-radius: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: inline;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
