<!DOCTYPE html>
{% extends 'base.html' %}

{% block header %}Analytics Tool - Promotions (work in progress){% endblock %}

{% block content %}
<div class="navbar">
  <a href="{{ url_for('analytics')}}"><input type="button" value="Analytics Home" class="navlink"></a>
</div>
<html lang="en">
<head>
   <meta charset="utf-8" />
   <title>Analytics Tool</title>

   <!-- import plugin script -->
   <script src='/static/Chart.min.js'></script>

</head>
<body>

<h1>Revenue/Promotion Spending</h1>

<!-- bar chart canvas element -->
<canvas id="chart" width="900" height="600"></canvas>

<script>

   // bar chart data
   var barData = {
   labels : [{% for item in labels %}
                  "{{item}}",
              {% endfor %}],
   datasets : [
      {
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            bezierCurve : false,
            data : [{% for item in revenue %}
                      {{item}},
                    {% endfor %}]
      },
      {
            fillColor: "rgba(90,127,105,0.2)",
            strokeColor: "rgba(90,127,105,0.2)",
            pointColor: "rgba(90,127,105,0.2)",
            pointStrokeColor: "#888",
            pointHighlightFill: "#888",
            pointHighlightStroke: "rgba(90,127,105,0.2)",
            bezierCurve : false,
            data : [{% for item in promos %}
                      {{item}},
                    {% endfor %}]
      }
      ]
   }

    Chart.defaults.global.animationSteps = 50;
    Chart.defaults.global.tooltipYPadding = 16;
    Chart.defaults.global.tooltipCornerRadius = 0;
    Chart.defaults.global.tooltipTitleFontStyle = "normal";
    Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
    Chart.defaults.global.animationEasing = "easeOutBounce";
    Chart.defaults.global.responsive = false;
    Chart.defaults.global.scaleLineColor = "black";
    Chart.defaults.global.scaleFontSize = 16;

   // get bar chart canvas
   var mychart = document.getElementById("chart").getContext("2d");

   steps = 1
   max = {{boundary}}
   // draw bar chart
   var LineChartDemo = new Chart(mychart).Line(barData, {
        scaleOverride: true,
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true,
        bezierCurve: false,

   });


</script>

</body>
{% endblock %}
</html>
