<!doctype html>
<head>
  <link rel="icon" href="/static/favicon.png">
</head>
<title>
  {% block title %}{% endblock %}Nutrition Label Generation Tool
</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <img class="titleimg" src="/static/title.jpg">
</nav>
<section class="header">
  <h2>
    {% block header %}{% endblock %}
  </h2>
</section>
<section class="content">
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
