{% extends 'base.html' %}

{% block header %}Formulas{% endblock %}

{% block content %}
  <u1>
    <li><a href="{{ url_for('create')}}">Add Formula</a>
    <li><a href="{{ url_for('delete')}}">Delete Formula</a>
  </u1>
  {% for formula in formulas %}
    <article class=formula>
      <form method="post">
        <p>Download:</p>
        <p>{{ formula['title'] }}</p>
        {% for tabs in list_of_tabs %}
          {% for tab in tabs %}
            <article class=tab>
              <input name="title" id="title" type="submit" value="{{ formula['title'] }}, {{tab}}">
            </article>
          {% endfor %}
        {% endfor %}
      </form>
      </a>
    </article>
  {% endfor %}

{% endblock %}
