{% extends 'base.html' %}

{% block header %}Formulas{% endblock %}

{% block content %}
  <u1>
    <li><a href="{{ url_for('create')}}">Add Formula</a>
    <li><a href="{{ url_for('delete')}}">Delete Formula</a>
  </u1>
  {% for formula in formulas %}
    <article class=formula>
      <p>Download:</p>
      <div class="dropdown">
          <button class="dropbtn">{{ formula[0][0] }}</button>
            <div class="dropdown-content">
              {% for tab in formula[1] %}
                <form>
                  <a href="/formulas/download?title={{ formula[0][0] }}&tab={{ tab }}">{{ tab }}</a>
                </form>
              {% endfor %}
            </div>
      </div>
    </article>
  {% endfor %}

{% endblock %}
